AB_ENV=production
AB_PORT_SERVER=8801
AB_IP_SERVER=10.0.0.181
AB_MP3_FOLDER=/home/pdesjardins/code/audio-stream-google-home/mp3
AB_CAST_CONNECT_TRIES=5
AB_CAST_CONNECT_RETRY_WAIT=2
AB_CAST_CONNECT_TIMEOUT=5
AB_CAST_WAIT_TIMEOUT=8
AB_CAST_CONTROLLER_TIMEOUT=8
AB_CAST_REQUEST_TIMEOUT=120
AB_CAST_PLAY_RETRIES=3
AB_CAST_PLAY_RETRY_WAIT=2
AB_DEVICE_REFRESH_TIMEOUT=35
AB_DEVICE_DISCOVERY_RETRIES=3
AB_DEVICE_DISCOVERY_RETRY_WAIT=1.5
AB_DEVICE_DISCOVERY_AVAHI_TIMEOUT=10
