[Unit]
Description=Audio Stream Google Home Service
After=network-online.target local-fs.target
Wants=network-online.target
Requires=network.target local-fs.target

[Service]
WorkingDirectory=__APP_DIR__
ExecStart=__UV_BIN__ run __APP_DIR__/src/audio-stream-google-home/main.py
ExecStartPre=/bin/sleep 5
ExecStartPre=/usr/bin/ip addr
ExecStartPre=/usr/bin/ip route
Restart=on-failure
RestartSec=10
User=__SERVICE_USER__
Group=__SERVICE_GROUP__
EnvironmentFile=-__APP_DIR__/.env
StandardOutput=journal
StandardError=journal
PrivateTmp=false
ProtectSystem=off
ProtectHome=false

[Install]
WantedBy=multi-user.target
